/* div {
  background-color: aqua;
  } */
  
  /* p {
    border: 2px solid black;
    } */
    
    
/* .newDiv {
  background-color: rgb(109, 56, 32);
  padding: 20px;
}

.anotherDivCls {
  color: rgb(24, 192, 74);
  font-size: 24px;
} */

body {
  display: flex;
  justify-content: end;
}

.darkMode {
  background-color: black;
}

.lightMode {
  background-color: white;
}