h3 {
  font-size: 30px;
}

.second {
  display: none;
}

* {
  margin: 0;
}
.blog {
  background-color: aquamarine;
  border: 8px solid tomato;
  /* border-left: none; */
  /* border-radius: 10px; */
  margin: 10px;
  text-align: justify;
  padding: 14px;
}


.header {
  height: 300px;
  background-color: bisque;
  background-image: url('../alone.jpg');
  /* background-repeat: no-repeat; */
  background-repeat: repeat-x;
  /* background-size: contain; */
  background-size: 200px;
}

.dolor {
  border: 2px solid peru;
  padding: 2px;
  margin: 10px;
  height: 130px;
  width: 130px;
  /* display: inline-block; */
  /* display: block; */
}